<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사용자 목록 관리</title>
    <link rel="stylesheet" href="./user-list-style.css" />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h3>사용자 목록 관리</h3>
        <!-- 사용자 추가 폼  -->
        <div>
          <input type="text" placeholder="이름 입력" v-model.trim="newName" />
          <span class="error" v-show="newName.length===0"
            >이름을 입력하세요</span
          >
          <br />

          <input
            type="text"
            placeholder="전화번호 입력"
            v-model.trim="newPhone"
          />
          <span class="error" v-show="newPhone.length===0"
            >전화번호를 입력하세요</span
          >
          <br />

          <select name="" id="" v-model="newRegion">
            <!-- //기본값은 지역 선택이지만 선택 못하게  -->
            <option value="" disabled selected>지역 선택</option>
            <option value="서울">서울</option>
            <option value="경기">경기</option>
            <option value="부산">부산</option>
            <option value="제주">제주</option>
          </select>

          <span class="error" v-show="newRegion.length===0"
            >지역을 선택하세요</span
          >
          <br />
          <!-- 추가 버튼 클릭 시 addUser 메서드 -->
          <button @click="addUser">사용자 추가</button>
        </div>

        <!-- 필터링 옵션 -->

        <div class="controls">
          <select v-model="selectRegion">
            <option value="">모든 지역</option>
            <option value="서울">서울</option>
            <option value="경기">경기</option>
            <option value="부산">부산</option>
            <option value="제주">제주</option>
          </select>
        </div>
        <!-- 사용자 목록 테이블 -->
        <table>
          <thead>
            <tr>
              <th>번호</th>
              <th>이름</th>
              <th>전화번호</th>
              <th>지역</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(user, index) in users"
              :key="users.id"
              class="user-item"
              v-show="selectRegion === ''||user.region==selectRegion"
            >
              <th v-text="index+1"></th>
              <th v-text="user.name"></th>
              <th v-text="user.phone"></th>
              <th v-text="user.region"></th>
              <th>
                <button @onclick="deleteUser(index)">삭제</button>
              </th>
            </tr>
          </tbody>
        </table>

        <!-- users에 등록된 사람이 없을 경우  -->
        <p v-if="users.length===0 ">등록된 사용자가 없습니다</p>
        <!-- 지역 필터링 결과가 없을 경우  -->
        <!-- 배열.some(콜백) : 배열 내 요소 중 하나라도 true가 반환되면 true-->
        <p
          v-if="users.length>0&&
          !users.some(user => selectRegion === ''||user.region==selectRegion)"
        >
          선택한 지역에 사용자가 없습니다.
        </p>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      //1번 . 데이터 모델 담당 객체 먼저 만들기
      const model = {
        // 사용자가 저장될 배열
        users: [
          { id: 1, name: '짱구', phone: '010-1111-2222', region: '서울' },
          { id: 2, name: '철수', phone: '010-1111-3333', region: '경기' },
          { id: 3, name: '유리', phone: '010-1111-4444', region: '부산' },
        ],

        //새 사용자 추가 시 입력될 값을 저장할 속성
        newName: '',
        newPhone: '',
        newRegion: '',

        //지역 필터링 속성
        selectRegion: '',
      };
      const vm = Vue.createApp({
        name: 'App',
        data() {
          //model이바뀌면 vue가 바뀌고 vue가 바뀌면 model이 바뀌고
          return model;
        },
        //vue 인스턴스 내에서 사용할 메서드를 작성하는 속성
        methods: {
          addUser() {
            //this 는 data 리턴 model
            if (this.newName && this.newPhone && this.newRegion) {
              const user = {
                id: Date.now(),
                name: this.newName,
                phone: this.newPhone,
                region: this.newRegion,
              };

              //users 배열에 마지막 요소로 추가
              this.users.push(user);

              //이전 입력 값 모두 제거
              this.newName = '';
              this.newPhone = '';
              this.newRegion = '';
            }
          },

          //삭제 버튼 클릭 동ㅈ낙
          deleteUser(index) {
            //매개변수 index : 함수 호출 시 전달 받은 index

            //배열.splice(인덱스, 개수)
            //배열 요소를 인덱스부터 지정된 개수만큼 자라냄
            this.users.splice(index, 1);
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
